[Desktop Entry]
Name=Time and Date on Wallpaper
Comment=Displays the current time and date on your wallpaper
Exec=plasma-windowed org.kde.plasma.applet.time_and_date
Icon=accessories-calendar
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=plasma/v6.4
X-Plasma-Category=General
X-Plasma-Component=Applet
X-Plasma-Update-Interval=1000
